@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600&display=swap');

:root {
    /* font-size */
    --fs-36: 36px;
    --fs-18: 18px;
    --fs-22: 22px;
    --fs-24: 24px;
    --fs-28: 28px;
    --fs-35: 35px;
    --fs-42: 42px;
    --fs-44: 44px;
    --fs-42: 42px;
    --fs-48: 48px;
    --fs-60: 60px;
    --fs-62: 62px;
    --fs-70: 70px;
    /* font-weight */
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
}

.fs-36 {
    font-size: var(--fs-36);
}

.fs-18 {
    font-size: var(--fs-18);
}

.fs-22 {
    font-size: var(--fs-22);
}

.fs-24 {
    font-size: var(--fs-24);
}

.fs-28 {
    font-size: var(--fs-28);
}

.fs-35 {
    font-size: var(--fs-35);
}

.fs-42 {
    font-size: var(--fs-42);
}

.fs-44 {
    font-size: var(--fs-44);
}

.fs-48 {
    font-size: var(--fs-48);
}

.fs-60 {
    font-size: var(--fs-60);
}

.fs-62 {
    font-size: var(--fs-62);
}

.fs-70 {
    font-size: var(--fs-70);
}





.fw-400 {
    font-weight: var(--fw-400);
}

.fw-500 {
    font-weight: var(--fw-500);
}

.fw-600 {
    font-weight: var(--fw-600);
}

.fw-700 {
    font-weight: var(--fw-700);
}
.ff-Montserrat-Alternates{
    font-family: 'Montserrat Alternates';
}
@media (min-width:768px) and (max-width:992px) {
    :root {
        --fs-36: 36px;
        --fs-18: 18px;
        --fs-22: 22px;
        --fs-24: 24px;
        --fs-28: 28px;
        --fs-35: 35px;
        --fs-42: 42px;
        --fs-44: 44px;
        --fs-42: 42px;
        --fs-48: 48px;
        --fs-60: 60px;
        --fs-62: 62px;
        --fs-70: 70px;
    }
}

@media (min-width:576px) and (max-width:768px) {
    :root {
        --fs-36: 36px;
        --fs-18: 18px;
        --fs-22: 22px;
        --fs-24: 24px;
        --fs-28: 28px;
        --fs-35: 35px;
        --fs-42: 42px;
        --fs-44: 44px;
        --fs-42: 42px;
        --fs-48: 48px;
        --fs-60: 60px;
        --fs-62: 50px;
        --fs-70: 56px;
    }
   
}

@media (max-width:576px) {
    :root {
        --fs-36: 36px;
        --fs-18: 18px;
        --fs-22: 22px;
        --fs-24: 24px;
        --fs-28: 28px;
        --fs-35: 35px;
        --fs-42: 42px;
        --fs-44: 44px;
        --fs-42: 35px;
        --fs-48: 40px;
        --fs-60: 50px;
        --fs-62: 45px;
        --fs-70: 50px;
    }
}

@media (max-width:768px) {
    .position-absolute1 {
        position: absolute;
        left: 0;
        top: 15%;
        width: 18%;

    }
    .position-BA{
        top: 16px;
        left: 0;
    width: 16%;
        position:absolute;

    }
    .position-relative44 {
        width: 6%;
        position: absolute;
        left: 20%;
        top: 5%;
    }
    .position-absolute99 {
        width: 4%;
        position: absolute;
        right: 22%;
        top: 0%;
    }
    
    .position-AAA {
        width: 23%;
        position: absolute;
        left: 19px;
        top: 0px;
    }
    .position-abA {
        width: 30%;
        position: absolute;
        right: 25px;
        bottom: 30px;
    }
    .position-absolute2 {
        position: absolute;
        left: 0;
        bottom: 10%;
        width: 15%;
    }

    .position-absolute3 {
        position: absolute;
        right: 0;
        top: 16%;
        width: 18%;
    }

    .position-absolute4 {
        position: absolute;
        right: 0;
        bottom: 7%;
        width: 20%;
    }

    .position-ab {
        position: absolute;
        left: 0;
        top: -8%;
        width: 18%;
    }

    .p-absolute2 {
        position: absolute;
        bottom: -10%;
        right: 0;
        width: 21%;
    }
    .slider .slick-current {
        scale: unset;
    }
}
@media (max-width:576px) {
    .position-absolute1{
        width: 10%;
    }
    .position-absolute2{
        width: 50px;
    }
    .position-absolute3{
        width: 10%;
        top: 165x;
    }
    .position-absolute4{
        width: 88px;
    }
    .star11{
        padding: 16px 70px;
    }
    .p-a {
        position: absolute;
        right: 23%;
        top: 12%;
        width: 12%;
    }
    .p-aaaa {
        width: 15%;
        position: absolute;
        left: 28%;
        top: 15%;
    }
    .p-aa {
        width: 9%;
        position: absolute;
        left: 1%;
        bottom: 23%;
    }
    .p-aaa {
        width: 9%;
        position: absolute;
        right: 20%;
        bottom: 13%;
    }
    .position-BB {
        width: 20px;
        position: absolute;
        left: 3px;
        bottom: 29%;
    }
}
@media (max-width:992px) {
   .border-end{
 border: unset;
   }
}